*  @core-dev-team
/tests/  @aiwonderland
/tests/run_tests.py  @aiwonderland @qorexdev
/_errortools/ @core-dev-team
/errortools/  @core-dev-team
/.github/  @core-dev-team

requirements-dev.txt  @core-dev-team
README.md  @core-dev-team
setup.py  @core-dev-team

.black  @aiwonderland
.editorconfig  @aiwonderland
.flake8  @aiwonderland
.gitignore  @core-dev-team
pytest.ini  @aiwonderland
mypy.ini  @aiwonderland

AUTHORS.txt  @*
LICENSE.txt  @aiwonderland