# Python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd

# Build & Distribution
dist/
build/
errortools.egg-info/
pypi_token.txt

# Type Checker (mypy)
.mypy_cache/

# Testing & Coverage
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# IDE & Editor Settings
.vscode/
.idea/
*.swp
*.swo

# Documentation (readthedocs/sphinx)
docs/_build/
docs/_templates/
docs/.doctrees/
docs/Makefile
docs/make.bat
