# Python
.venv/
__pycache__/
*.pyc

# build
dist/
errortools.egg-info/
pypi_token.txt 
# HaHaHa

# mypy
.mypy_cache/

# Pytest
.pytest_cache/
htmlcov/
.coverage

# Settings
.vscode/

# readthedocs/sphinx
docs/_build/
docs/_templates/
docs/.doctrees/